@import "vendor/bootstrap.min.css";
@import "vendor/all.min.css";

html, body {
    font-family: 'Lato', sans-serif;
    width : 100%;
    height : 100%;
    scroll-behavior: smooth;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
}

h1 span{
    margin-left: 8px;
}

.col .card-body .position-relative {
    height : 150px
}

.cover-image {
    width: 100%;
    height : 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron h1 {
    font-size: 2rem;
}

.black-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    opacity: 0.7;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #242424, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #242424, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vl-white {
    border-left: 0.1rem solid white;
    margin-left: 32px;
    margin-right: 32px;
    height: 125px;
}

.blue-gradient-filter {
    width: 100%;
    height: 100%;
    position : absolute;
    z-index: 5;
    top : 0;
    opacity: 0.5;
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white-filter {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    opacity: 0.7;
}

.full-page-div {
    height : 100%;
    width : 100%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.dot-filter {
    z-index: 3;
    opacity: 0.5;
    height : 100%;
    position: absolute;
    width : 100%;
    top : 0;
    background-image: url("/../assets/dotgrid.png");
}

#page-cover-content-profile {
    height : 400px;
    position: relative;
}

.logo-color {
    color: #1761a0;
}

.over-div {
    z-index: 999;
    position : relative;
}

.jumbotron .over-div {
    margin-top: 16px;
}

#container {
    width : 100%;
    height : 100%;
}

.animated-line {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.animated-line:hover::after {
    width: 100%;
}

.animated-line:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(255,255,255, 0.50);
    transition: width .2s;
}

.navbar {
    z-index: 1000;
    top: 0;
    width : 100%;
}

.navbar img {
    width: 100px;
}

.hover-dark {
    color : #f3f3f3;
}

.hover-dark:hover {
    text-decoration: none;
    color: darkgray;
    -webkit-transition: 0.2s ease-in-out;
}

.user-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    padding : 0;
}

.jumbotron {
    border-radius: 0;
}

a {
    color: #00B7FF;
}

.navbar .row {
    width: 100%;
}

.navbar img {
    width : 64px;
    height : 64px;
}

.navbar h1 {
    font-size: 0.8rem;
    width : 0.5rem;
    font-family: 'Calistoga', cursive;
}

.navbar .vl-white {
    height : 52px;
    margin-left: 4px;
    margin-right: 18px;
}

.test {
    background: repeating-linear-gradient(
            -55deg,
            #222,
            #222 10px,
            #333 10px,
            #333 20px
    );

    width: 100px;
    height : 120px;
}

.full-page-div {
    height : 100%;
    width : 100%;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#page-cover-content {
    height : 500px;
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    color: black;
    border-radius : 1rem;
    width: 40%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#page-cover-content .form-control::-webkit-input-placeholder { color: white; opacity: 0.5; }  /* WebKit, Blink, Edge */
#page-cover-content .form-control:-moz-placeholder { color: white; opacity: 0.5; }  /* Mozilla Firefox 4 to 18 */
#page-cover-content .form-control::-moz-placeholder { color: white; opacity: 0.5; }  /* Mozilla Firefox 19+ */
#page-cover-content .form-control:-ms-input-placeholder { color: white; opacity: 0.5; }  /* Internet Explorer 10-11 */
#page-cover-content .form-control:-ms-input-placeholder { color: white; opacity: 0.5; }

#page-cover-content img {
    width : 125px;
    height : 125px;
}

#page-cover-content a:hover {
    text-decoration: none;
}

#content-body select {
    height : 50px;
    margin-bottom: 16px;
}

#content-body button {
    color: white;
}

#content-body input {
    height : 50px;
    margin-bottom: 16px;
}

#content-body .d-block {
    width : 50%;
}

#signuplink {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
}

.vl-white {
    border-left: 0.1rem solid white;
    margin-left: 32px;
    margin-right: 32px;
    height: 125px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal label {
    color : white;
}

textarea {
    resize: none;
    height : 100px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.card .position-relative {
    text-overflow: ellipsis;
}

.card .position-relative h5 {
    white-space: nowrap !important;
}

.hover-dark {
    color : #f3f3f3;
    -webkit-transition: 0.2s ease-in-out!important;
}

.hover-dark:hover {
    text-decoration: none;
    color: darkgray;
    -webkit-transition: 0.2s ease-in-out;
}

.circle {
    margin-left: 8px;
    margin-right: 8px;
    background: white;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
}

.circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.summary-section {
    color : white;
    border-radius: 8px;
    margin-top: 16px;
    background-color: #A3080C;
    height : 50px;
}

.message {
    width : 100%;
    opacity: 0.8;
    padding : 12px;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom : 16px;
}

.info {
    background: white;
    color : black;
}

.error {
    background: #A3080C;
    color : white;
}

.success {
    background: #1e7e34;
    color : white;
}

#content-body canvas:first-of-type {
    margin-bottom: 32px;
}

.chart-wrapper {
    height : 200px;
}

#content-body h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.table {
    border-top: 0;
}

.table td {
    padding-left: 0;

}

.table th {
    padding-left: 0;
    border-top: 0;
    padding-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

#content-body h1:first-of-type {
    margin-top: 16px;
    margin-bottom: 16px;
}

.summary-section .vl-white {
    height : 50%;
    margin-right: 8px;
    margin-left: 16px;
}

.summary-section i {
    color : black;
    font-size: 1.1rem;
}

#page-cover-content input, #page-cover-content select {
    background: #1761a0;
    color : white;
    font-size: 0.8rem;
    opacity: 0.7;
    border: none;
    height : 60px;
    margin-bottom: 16px;
    font-family: 'Work Sans', sans-serif;
}

#page-cover-content form {
    margin-top: 32px;
}

#page-cover-content h1 {
    color: white;
    letter-spacing: 4px;
    font-family: 'Flamenco', cursive;
    font-family: 'Flamenco', cursive;
}

#container .jumbotron:first-of-type {
    height: 300px;
}

.cover-image {
    width: 100%;
    height : 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.containerForm {
    width: 100%;
    height: 100%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar a {
    letter-spacing: 2px;
}

#guide1 {
    width: 100%;
    height: 50%;
    padding-left: 10%;
    padding-right: 10%;
    background: white;
}

#guide2 {
    width: 100%;
    height: 60%;
    padding-left: 10%;
    padding-right: 10%;
    background: #003366;
}


#guide3 {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background: #CCCC99;
}

.spacer {
    height:10%;
    width: 100%;
}

.spacer2 {
    height:5%;
    width: 100%;
}

.blueSky {
    color: #003366;
    font-weight: bolder;
}

.beige {
    color: #CCCC99;
}

.white {
    color: white;
}

.magenta {
    color: #14145a;
}

.centerText{
    text-align: center;
}

#page-cover {
    margin-top: 30px;
}

#page-cover > h1, .profile-information-cover h1:first-of-type {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#page-cover > h1 > span:first-of-type {
    font-size: 2rem;
}

#page-cover > h1 > i {
    font-size: 1.8rem;
    margin-right: 8px;
}

#page-cover > h1 > span:not(:first-of-type) {
    font-size: 1rem;
    letter-spacing: 1px;
}

#page-cover > h1 > span:not(:last-of-type):after {
    content: "/";
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    color: #e9e9e9;
    font-size: 1rem;
    position: relative;
    top: -2px;
}

#page-cover > h1 > span > a {

}

.actions-section {
    position: absolute;
    right: 0;
    z-index: 10;
    bottom : -86px;
    border-radius: 4px;
}

.actions-section a {
    margin-right: 8px;
}

.action-button {
    background-color: #606060;
    color : white;
}

.action-button:hover {
    color : white;
    background-color: #454545;
}

.round-button i {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 0.8rem;
}

.round-button {
    border : 1px solid white;
    width : 32px;
    height : 32px;
    border-radius: 16px;
    background-color: #252525;
    text-align: center;
    vertical-align: middle;
}

fieldset {
    margin-bottom: 24px;
}

legend::before {
    counter-increment: section;
    content: counter(section);
    margin-right: 8px;
    background: #404040;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px;
}

.hover-light {
    font-size: 0.9rem;
    -webkit-transition: 0.2s ease-in-out!important;
    color: #404040;
}

.hover-light:hover {
    text-decoration: none;
    color : #808080;
    -webkit-transition: 0.2s ease-in-out;
}

legend {
    font-size: 1.2rem;
    color : #606060;
    margin-bottom: 16px;
}

.thick-line {
    margin-bottom: 8px;
    width: 60px;
    border-bottom: 2px solid #808080;
}

.post-it-filter .black-filter {
    opacity: 0;
    border-radius: 8px;
    -webkit-transition: 0.2s ease-in-out!important;
}

.post-it-filter:hover .black-filter {
    opacity: 0.7;
    -webkit-transition: 0.2s ease-in-out!important;
}

.post-it {
    border-radius: 8px;
    width : 25%;
    height : 25%;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.post-it i {
    font-size: 3rem;
    color: white;
}

.post-it .over-div {
    width: 100%;
    height : 100%;
}

.text-posthead {
    color: #aaa;
}

.padding-v4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.billboardCardSize {
    min-width: 200px;
    max-width: 540px;
}

.claimCardContainer {

}

.claimCardsLine {
    margin-bottom: 12px;
}

.claimCardsContainer {
    margin-left: 24px;
    margin-right: 24px;
}

.claimStepsContainer {
    background-color: lightgray;
    border: #1b1e21;
    border-radius: 8px;
    padding: 16px;
}

.clickable-disable {
    text-decoration: none;
    color: rgba(0, 183, 255, 0.3);
}

.claimCard {
    min-width: 120px;
    max-width: 120px;
    min-height: 80px;
    border-radius: 16px;
    opacity: 0.8;
    background-color: #000014;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    color: gainsboro;
}

.claimCardDisable {
    min-width: 120px;
    max-width: 120px;
    min-height: 80px;
    border-radius: 16px;
    opacity: 0.8;
    background-color: rgba(0, 0, 29, 0.73);
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    color: gainsboro;
}

.sequency-line {
    margin-top: auto;
    margin-bottom: auto;
    height : 0.1rem;
    margin-left : 2px;
    margin-right : 2px;
    background-color: #808080;
    display: flex;
    flex-grow: 1;
}

.sequency-line-disable {
    margin-top: auto;
    margin-bottom: auto;
    height: 0.1rem;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgba(183, 183, 183, 0.51);
    display: flex;
    flex-grow: 1;
}

.claimCardsLine {
    margin-bottom: 12px;
}

.claimStepsContainer {
    background-color: lightgray;
    border: #1b1e21;
    border-radius: 8px;
    padding: 16px;
}

.claimCardsContainer {
    margin-left: 24px;
    margin-right: 24px;
}

.clickable {
    text-decoration: none;
    color: #00B7FF;
}

.margin-side-8 { margin-left: 8px; margin-right: 8px; }
.margin-side-16 { margin-left: 16px; margin-right: 16px; }
.margin-side-32 { margin-left: 32px; margin-right: 32px; }
.round8 {border-radius: 8px;}
.round12 {border-radius: 12px;}

.timeLine {
    position: relative;
    width: 50%;
    border-top: 10px solid #e0bf05;
}

.yellowCircle {
    position: absolute;
    background: #e0bf05;
    height: 20px;
    width: 20px;
}

.a-no-color {
    color: white;
}

.a-no-color:hover {
    color: white;
}