@import "vendor/bootstrap.min.css";
@import "vendor/all.min.css";

html, body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cover-image {
    width: 100%;
    height : 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.black-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    opacity: 0.7;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #242424, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #242424, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white-filter {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    opacity: 0.7;
}

.dot-filter {
    z-index: 3;
    opacity: 0.5;
    height : 100%;
    position: absolute;
    width : 100%;
    top : 0;
    background-image: url("/../assets/dotgrid.png");
}

#page-cover-content-profile {
    height : 400px;
    position: relative;
}

.logo-color {
    color: #1761a0;
}

.over-div {
    z-index: 999;
    position : relative;
}

.animated-line {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.animated-line:hover::after {
    width: 100%;
}

.animated-line:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(255,255,255, 0.50);
    transition: width .2s;
}

.navbar {
    z-index: 1000;
    top: 0;
    width : 100%;
}

.navbar img {
    width: 100px;
}

.hover-dark {
    color : #f3f3f3;
}

.hover-dark:hover {
    text-decoration: none;
    color: darkgray;
    -webkit-transition: 0.2s ease-in-out;
}

.user-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    padding : 0;
}
