extends ../layout/layout

block header-content
  h1
    i.fas.fa-chess-board
    span Babillard
  +actions-section


block content
  +navbar
  +page-cover
  .container.h-100
    h1 Notes
    br
    .row
      each post in posts
        .col.mb-4
          .card.card-body.p-0
            .position-relative
              button.cover-image(type="button" data-toggle="modal" data-target="#exampleModal" style="background-image: url('/assets/test-banner.jpg');")
                .over-div.position-relative
                  .position-absolute.over-corner.flex-column
                  br
                  .text-center.text-white.mb-3.ml-2.mr-2
                    h5 Allo
                  .pb-5
              .black-filter
              .dot-filter
  #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content(style="background-image: url('/assets/test-banner.jpg');")
        .over-div.position-relative
          .position-absolute.over-corner.flex-column
          br
          .text-center.text-white.mb-3.ml-2.mr-2
            h5 Allo
          .pb-5
        .black-filter
        .dot-filter

