extends ../layout/layout

block header-content
  h1
    i.fas.fa-chess-board
    span Babillard
  +actions-section


block content
  +navbar
  +page-cover
  .container.h-100
    h1 Notes
    br
    .row
      each post in posts
        .col.mb-4
          .card.card-body.p-0
            .position-relative
              button.cover-image(type="button" data-toggle="modal" data-target="#postNo"+post.id style="background-image: url('/assets/test-banner.jpg');")
                .over-div.position-relative
                  .position-absolute.over-corner.flex-column
                  br
                  .text-center.text-white.mb-3.ml-2.mr-2
                    h5=post.title
                  .pb-5
              .black-filter
              .dot-filter
        .modal.fade(id="postNo"+post.id tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content(style="background-image: url('/assets/test-banner.jpg');")
              .over-div.position-relative
                .position-absolute.over-corner.flex-column
                br
                .text-center.text-white.mb-3.ml-2.mr-2
                  h5=post.title
                  br
                  p=post.content
                .pb-5
              .black-filter
              .dot-filter

