meta(charset="utf-8")
link(rel="stylesheet" href="/stylesheets/style.css")
link(href='https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap', rel='stylesheet')
script(src="/javascripts/vendor/jquery/jquery.min.js")
script(src="/javascripts/vendor/bootstrap/js/bootstrap.bundle.js")
link(href='https://fonts.googleapis.com/css?family=Flamenco&display=swap', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Lato&display=swap', rel='stylesheet')
script(src="/javascripts/app.js")
