meta(charset="utf-8")
link(rel="stylesheet" href="/stylesheets/style.css")
link(href='https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap', rel='stylesheet')
script(src="/javascripts/vendor/jquery/jquery.min.js")