//-
  Example that uses bootstrap default styles to display messages provided using Flash methods. Able
  to work with list of messages and single message. Compliant with standard messaging level (error,
  success, warning, notice and info).
mixin flash()
  +flashMessage(flash.success, 'success')
  +flashMessage(flash.error, 'danger')
  +flashMessage(flash.warning, 'warning')
  +flashMessage(flash.notice, 'notice')
  +flashMessage(flash.info, 'info')

mixin flashMessage(data, type)
  if data
    div.alert(class='alert-' + type)
      if is_array(data)
        if count(data) > 1
          ul
            each message in data
              if message != ""
                li!=message
        else
          !=data[0]
      else
        !=data

mixin actions-section()
  .actions-section
    .d-flex
      a(href='/babillard/creation' data-tooltip="tooltip" title="Créer une publication").hover-dark
        .round-button
          i.fas.fa-plus

mixin page-cover()
  .position-relative
    .jumbotron.jumbotron-admin.text-white.cover-image(style="background-image: url('/assets/adventure.jpg');")
      #page-cover.container.over-div
        br
        br
        block header-content
    .black-filter
    .dot-filter

mixin notes()
  .col.mb-4
    .card.card-body.p-0
      .position-relative
        .cover-image(style="background-image: url('/assets/test-banner.jpg');")
          .over-div.position-relative
            .position-absolute.over-corner.flex-column
            br
            .text-center.text-white.mb-3.ml-2.mr-2
              h5: a.hover-dark(href="#") Allo
            .pb-5
        .black-filter
        .dot-filter

mixin navbar()
  nav.navbar.text-white.position-absolute
    .container
      .row.w-100.align-items-center
        .col
          a.navbar-brand(href="/accueil")
            img.align-middle(src="/assets/osec_white.png" style="margin-right : 16px;")
        .col-10.text-right.no-overflow
          .d-flex.align-items-center.justify-content-end
            a.mr-3.hover-dark.navbar-link.animated-line(href="/babillard") Babillard
            a.mr-3.hover-dark.navbar-link.animated-line(href="/guide") Guide
            a.mr-3.hover-dark.navbar-link.animated-line(href="/reclamations") Réclamations
            //+form("get", "alerte")(enctype="multipart/form-data")
            if danger
                button.fa.fa-exclamation-circle.btn-danger.round12.padding-v4
            else
                button.fa.fa-exclamation-circle.btn-success.round12.padding-v4
            //audio#notif-sound(src='/assets/sounds/notification.mp3' preload='auto' controls='none' volume='0.1' style="display:none")
//-
  Allows usage HTTP method besides GET and POST. Zephyrus verifies the existence of a __method
  parameter in the request, if it exists, it overwrites the submitted method.
mixin form(method, action)
  -var httpMethod = method;
  -var notStandard = method != 'get' && method != 'post';
  if notStandard
    -httpMethod = 'post';
  form.form-horizontal(method=httpMethod, action=action)&attributes(attributes)
    if notStandard
      input(type="hidden", name="__method", value=method)
    block