extends ../layout/layout

block header-content
  h1
    i.fas.fa-book
    span Guide


block content
  +navbar
  +page-cover

  div#guide1
    div.spacer
    b
      h1.blueSky
        i.fas.fa-exclamation-circle
        span Quoi faire
      h3.blueSky &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp dans l'immédiat quand l'inondation survient
      div.spacer
      h4 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIt is a lonis, conteublishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        |
        |
      div.spacer

  div#guide2
    div.spacer
    b.centerText
      h1.white
        i.fas.fa-question-circle
        span Renseignez-vous
      div.spacer
      h4.beige &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIt is a long estint of usings a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        |
        |
      div.spacer
      h1.white
        i.fas.fa-shield-alt
        span Sécurisé les réseaux
        h3.white &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp de gas ou d'électricité, identifiez ou sont les disjoncteurs
        div.spacer2
        h4.beige &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIt is a long established fact that a reader will be distracted by the is a long established fact that a reader will be distracted by the is a long established fact that a reader will be distracted by the



  div#guide3
    div.spacer
    b
      h1.blueSky
        i.fas.fa-home
        span Restez chez Vous


      div.spacer
      h3.white &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp g established fact that a reader will be distracted by the is It is a long established fact that a reader will be distracted by the is It is a long established fact that a reader will be distracted by the is It is a long established fact that a reader will be distracted by ts It is a long established fact that a reader will be distracted by the is
      div.spacer
      h1.blueSky
        i.fas.fa-dove

        span Installé-vous en hauteur
      div.spacer2
      h4.white &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIt is a long established fact that a reader will be distracted by the is a long established fact that a reader will be distracted by the is a long established fact that a reader will be distracted by the

