extends ../layout/layout

block header-content
  h1
    i.fas.fa-book
    span
      a(href="/accueil").a-no-color Accueil
    span Guide


block content
  +navbar
  +page-cover
  div#guide1
    div.spacer
    b
      h1.blueSky
        i.fas.fa-exclamation-circle
        span Quoi faire
      h3.blueSky &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp dans l'immédiat quand l'innondation survient
      div.spacer
      ul
        li Communiquez immédiatement avec Hydro-Québec, au numéro 1 800 790-2424, pour faire interrompre le service au compteur ou au poteau.
        li Considérez comme potable l'eau provenant d'un réseau d'aqueduc, à moins d’un avis contraire émis par les autorités municipales responsables du réseau d’aqueduc. Considérez comme non potable et impropre à la consommation, l'eau provenant d'un puits individuel, même si elle paraît claire et sans odeur.
        li Ne consommez pas les médicaments qui doivent être conservés au frais, mais qui n’ont pas pu l’être. Retournez-les à la pharmacie.
        li Informez les autorités de toute situation dangereuse, comme des fils électriques tombés sur la chaussée ou des objets lourds transportés par les flots.​
        li Consultez le site Internet gouvernemental Urgence Québec, et les comptes de médias sociaux qui y sont associés, pour obtenir toute l'information à jour.
      div.spacer

  div#guide2
    div.spacer
    b.centerText
      h1.white
        i.fas.fa-question-circle
        span Quand et comment évacuer son domicile?
      div.spacer
      h4.beige &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi les autorités l’exigent ou si vous sentez que votre sécurité est compromise, évacuez votre domicile. Informez vos proches ou la municipalité de l’endroit où vous comptez être hébergé provisoirement.
      div.spacer
      h1.white
        i.fas.fa-shield-alt
        span Quand et comment réintégrer son domicile?
        div.spacer2
        h4.beige &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSi les autorités le permettent et que votre sécurité n’est pas compromise, réintégrez votre domicile, de préférence le jour, car il est alors plus facile de voir les problèmes et les dangers. À votre arrivée, prenez des photos pour documenter les dommages causés à votre résidence.


  div#guide3
    div.spacer
    b
      h1.blueSky
        i.fas.fa-home
        span Quoi faire aprés un sinistre?


      div.spacer
      h3.white &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Protégez-vous des pratiques abusives
      h4.white Évitez les vendeurs et les entrepreneurs qui utilisent à leur avantage l’urgence de la situation et votre désarroi, par exemple en augmentant leurs prix. Dénoncez rapidement les pratiques douteuses auprès de l'Office de la protection du consommateur ou auprès de votre municipalité.
      div.spacer
      h3.white &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Demandez de l'aide psychologique
      h4.white Soyez attentif aux réactions qui peuvent se manifester après avoir vécu un sinistre, comme de l’anxiété, un manque d’intérêt ou d’énergie, une tendance à l’isolement, de l’agressivité, une consommation accrue d’alcool, de drogues ou de médicaments, des problèmes de santé aggravés. Ces réactions peuvent survenir rapidement après l’événement ou de quelques semaines à quelques mois plus tard.
      h1.blueSky
      div.spacer