extends layout/layout

block header-content
  h1
    i.fas.fa-home
    span Accueil


block content
  +navbar
  +page-cover
  .container
    .row
      .col-3.offset-9
        #weather.row.card.shadow
          .d-inline-flex.flex-row.h-100
            img(src=weather.image).mr-2.ml-3
            .vertical-line.mt-2.mb-2
            .d-flex.flex-column.w-100.text-center.mt-1
              span Sorel-Tracy
              .d-flex.flex-row.w-100.justify-content-around.mt-2
                .flex-column
                    i.fa.fa-temperature-high
                    span 30
                .flex-column
                    i.fa.fa-temperature-low
                    span 10%


